<ion-header>
  <ion-toolbar>
    <div id="toolbar"> 
      <button class="btns" color="none" icon-only clear shape="round" (click)="back_button()">
        <ion-icon size="large" name="arrow-back-outline"></ion-icon> 
       </button>

       <ion-title> Safe Packaging Checklist <ion-icon name="checkmark"></ion-icon> </ion-title>

      </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <div class="checklist-container">
      <div class="checklist-wrapper">
        <ion-img class="numbered_checklists" src="../assets/images/packaging_checklist_images/checklist_number1.JPG"> </ion-img> 
        <h3> Secure merchandise in smaller box </h3> 
      </div>
      <p> Use additional packaging material such as padded envelopes, bubble wrap,
        paper, foam pad, making sure movement of merchandise is restricted.
        Packages with rattling goods inside make easy targets for thieves.
      </p>
      <ion-img src="../assets/images/packaging_checklist_images/checklist_1.JPG"> </ion-img> 
    </div>

    <div class="checklist-container">
      <div class="checklist-wrapper">
        <ion-img class="numbered_checklists" src="../assets/images/packaging_checklist_images/checklist_number2.JPG"> </ion-img> 
        <h3> Mark tracking information </h3> 
      </div>

      <p> Mark tracking number, shipper and recipient information outside the smaller box.
        It’s needed in case the shipping information on the outside box gets damaged and
        becomes illegible during transit.
      </p>
      <ion-img src="../assets/images/packaging_checklist_images/checklist_2.JPG"> </ion-img> 
    </div>

    <div class="checklist-container">
      <div class="checklist-wrapper">
        <ion-img class="numbered_checklists" src="../assets/images/packaging_checklist_images/checklist_number3.JPG"> </ion-img> 
        <h3> Double box your shipments </h3> 
      </div>

      <p> Place the small box inside a larger courier box. Again, make sure movement is
        restricted with additional cushioning. Double boxing dramatically minimizes the
        chance for thieves to open your package and take your merchandise.
      </p>
      <ion-img src="../assets/images/packaging_checklist_images/checklist_3.JPG"> </ion-img> 
    </div>

    <div class="checklist-container">
      <div class="checklist-wrapper">
        <ion-img class="numbered_checklists" src="../assets/images/packaging_checklist_images/checklist_number4.JPG"> </ion-img> 
        <h3> Proper enclosure </h3> 
      </div>

      <p> Please seal all seams or flaps on outside box with clear or non-descriptive tape in
        addition to adhesive on flap. A securely-fastened package is a deterrent for casual
        thieves who take chances when obvious opportunity is presented.
      </p>
      <ion-img src="../assets/images/packaging_checklist_images/checklist_4.JPG"> </ion-img> 
    </div>

    <div class="checklist-container">
      <div class="checklist-wrapper">
        <ion-img class="numbered_checklists" src="../assets/images/packaging_checklist_images/checklist_number5.JPG"> </ion-img> 
        <h3> Proper Labeling </h3> 
      </div>

      <p> Beware of wording which might express inadvertent reference to valuable goods.
        Obvious words that directly relate to valuables are strictly prohibited. Abbreviate
        names, i.e. turn Johnson’s Gem Shop to Johnson’s Shop.
      </p>
      <ion-img src="../assets/images/packaging_checklist_images/checklist_5.JPG"> </ion-img> 

    </div>

    <div class="checklist-container">
      <div class="checklist-wrapper">
        <ion-img class="numbered_checklists" src="../assets/images/packaging_checklist_images/checklist_tips.JPG"> </ion-img> 
        <h3> Additional tips & precautions </h3> 
      </div>

      <p id="tips-p"> 1. Add extra weight to disguise contents <br>
        2. Organize your shipping area and set consistent procedures <br>
        3. Keep accurate records of values and SKUs of all shippments <br>
        4. Screen potential dishonest employees <br>
        5. Video tape shipping areas whenever possible <br>
        6. Act as if all packages are not insured <br>
        7. Track your packages diligently; timely reaction upon a lost shipment will most definitely improve chances of recovery <br>
        8. Always require adult signature on delivery to residential addresses <br>
      </p>
    </div>

    <div class="checklist-container">
      <div class="checklist-wrapper">
        <ion-img class="numbered_checklists" src="../assets/images/packaging_checklist_images/checklist_precautions.JPG"> </ion-img> 
        <h3> Additional tips & precautions </h3> 
      </div>

      <p id="tips-p"> 1. Never put loose items only in a courier envelope or pak when shipping <br>
        2. Don’t ship to residential addresses <br>
        3. Never reveal the contents of your shipment, even to the courier <br>
        4. Never state a value or reference to valuables anywhere on the box <br>
        or label (unless required by customs for export) <br>
        5. Please follow special instructions when shipping directly to trade shows, hotels, convention centers, apartment complexes. Please contact our shipping specialist for details
      </p>
    </div>
  </div>

   
</ion-content>
