<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title id="title-container">
      <div id="toolbar">
        <ion-img id="parcelPro_logo" src="../assets/parcelPro_logo.png"> </ion-img>  
      </div>
<!-- 
      <div id="container">
        <strong> Good morning, &lt;my_name&gt; </strong>
      </div> -->
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <!-- <ion-title size="large">Blank</ion-title> -->
    </ion-toolbar>
  </ion-header>

  <div id="dashboard">

    <div id="banner-wrapper">
      <a href="#">
        <ion-img id="parcelPro_memberBanner" src="../assets/parcelPro_memberBanner.png"> </ion-img>
      </a>
    </div>

    <div id="dashboard-items-wrapper">
      <div id="main-items">
        <div id="dashboard-items">
          <div class="dashboard-item-wrapper">
            <div class="dashboard-item">
              <h4 id="ships-with-container">
                <span> Ships With </span> 
                <ion-img id="ups-logo" src="../assets/logo-ups.svg" alt="UPS"> </ion-img>
              </h4>
              <p> Create a UPS shipping label </p>
              <div>
                <a href="https://web.parcelpro.com/ship/ups"> 
                  <ion-button class="label-button"> Create UPS Label </ion-button>
                </a>
              </div>
            </div>
          </div>

          <div class="dashboard-item-wrapper">
            <div class="dashboard-item"> 
              <h4 id="ships-with-container">
                <span> Ships With </span> 
                <ion-img id="fedex-logo" src="../assets/logo-fedex.svg" alt="Fedex"> </ion-img>
              </h4>
              <p> Create a Fedex shipping label </p>
  
              <div>
                <a href="https://web.parcelpro.com/ship/fedex"> 
                  <ion-button class="label-button"> Create Fedex Label </ion-button>
                </a>
              </div>
            </div>
          </div>

        </div>

      </div>
      
      <div id="side-items">

      </div>




      




    </div>
    
  </div>
</ion-content>